@charset "UTF-8";
/* 广告图片 */
.page-ad {
  width: 1200px;
  height: 300px;
  margin-bottom: 10px;
}

.page-small {
  display: flex;
  justify-content: space-between;
}

.page-small .middle {
  width: 405px;
  height: 180px;
}

.page-small .small {
  width: 180px;
  height: 180px;
}

/* 所有分类 */
.select {
  line-height: 25px;
  margin: 20px 0;
  border: 1px solid #c7c7c7;
  display: flex;
  justify-content: space-between;
}

.select .tit {
  width: 100px;
  color: #909090;
  background: #eaeaea;
  text-align: center;
  font: 14px/35px "";
}

.select ul {
  width: 1100px;
  background: #f1f1f1;
  height: 25px;
  padding: 5px 0;
}

.select ul li {
  float: left;
  width: 70px;
  display: block;
  border-right: 1px solid #777;
}

.select ul li a {
  display: inline-block;
  padding: 0 15px;
  color: #777;
  white-space: nowrap;
}

.filter {
  padding: 5px 0 0 10px;
  background: #eaeaea;
  height: 30px;
}

.filter a {
  float: left;
  display: block;
  border: 1px solid #777;
  height: 25px;
  width: 60px;
  font: 12px/25px "";
  text-align: center;
}

.filter .write {
  background: #fff;
}

/* 商品列表 */
.goods_list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods_list ul li {
  width: 290px;
  height: 358px;
}
