/* 广告图片 */
.page-ad{
    width: 1200px;
    height: 300px;
    margin-bottom: 10px;
}
.page-small{
    display: flex;
    justify-content: space-between;
    .middle{
        width: 405px;
        height: 180px;
    }
    .small{
        width: 180px;
        height: 180px;
    }
}

/* 所有分类 */
.select{
    line-height: 25px;
    margin: 20px 0;
    border: 1px solid #c7c7c7;
    display: flex;
    justify-content: space-between;
    
    .tit{
        width: 100px;
        color: #909090;
        background: #eaeaea;
        text-align: center;
        font: 14px/35px "";
    }
    ul{
        width: 1100px;
        background: #f1f1f1;
        height: 25px;
        padding: 5px 0;
        li{
            // padding: 5px 0;
            float: left;
            width: 70px;
            display: block;
            border-right: 1px solid #777;
            a{
                display: inline-block;
                padding: 0 15px;
                color: #777;
                white-space:nowrap;
            }
        }
    }
}

.filter{
    padding: 5px 0 0 10px;
    background: #eaeaea;
    height: 30px;
    a{
        float: left;
        display: block;
        border: 1px solid #777;
        height: 25px;
        width:60px;
        font: 12px/25px "";
        text-align: center;
    }
    .write{background: #fff;}    
}

/* 商品列表 */
.goods_list{
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        li{
            width: 290px;
            height: 358px;
            margin:10px 0;
            img{
                width: 290px;
                height: 290px;
                display: block;
            }
            .p-info{
                height: 68px;
                width: 290px;
                background: #fff;
                .p-name{
                    padding-left:10px ;
                }
            }
            .p-buy{
                display: flex;
                justify-content: space-between;
                padding: 10px 10px 0 10px;
                span{
                    display: block;
                    height: 30px;
                    width: 80px;
                    font: 700 18px/30px "";
                    color: #e7380d;
                }
                div{
                    display: block;
                    height: 30px;
                    width: 150px;
                    background: #008742;
                    color: #fff;
                    font: 16px/30px "";
                    text-align: center;
                    border-radius: 6px;
                    cursor: pointer;
                }

            }

        }
    }
    
}

/* 分页 */
.pagWarp {
    height: 40px;
    width: 230px;
    box-shadow: 0 2px 5px #b6b6b6;
    position: relative;
    border-radius: 2px;
    right: -41%;
    bottom: 0px;
    padding: 0 10px;
}

#btnL,
#btnR {
    line-height: 40px;
    cursor: pointer;
}

#btnL {
    float: left;
}

#btnR {
    float: right;
}

.pagWarp ul {
    height: 40px;
    margin: 0 auto;
    float: left;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    li{
        float: left;
        text-align: center;
        line-height: 40px;
        padding: 0 4px;
    }
}

.active {
    color: blue;
    font-size: 30px;
}

.footer-service{
    .service{background: #e0e0e0;}
    ul{
        
        margin-top:50px;
        padding:30px 0;
        height: 52px;
        display: flex;
        justify-content: space-around;
        li{
            width: 190px;
            height: 42px;
            // margin-left: 55px;
            padding-left: 50px;
            
            i{
                float: left;
                display:block;
                background: url(../imgs/service.png) no-repeat left top;
                height: 42px;
                width: 42px;
            }
            // .ser{
            //     float: left;
            //     border-left: 1px solid #a6a6a6;
            // }
            
            b{
                display: block;
                color: #007f4d;
                font: 18px/25px "";
                padding-left: 15px;
            }
            span{
                display: block;
            }
        }
        .s1{background-position:0 0 ;}
    }    
}