@charset "UTF-8";
/* 头部 */
#top {
  background: #e0e0e0;
}

#top ._auto {
  padding: 15px 0 5px 0;
  position: relative;
}

#top .logo {
  width: 195px;
  height: 50px;
}

#top .tit {
  color: #008842;
  font: 28px/1 "";
  position: absolute;
  left: 240px;
  top: 22px;
  white-space: nowrap;
}

/* 注册 */
#register {
  padding-top: 30px;
  height: 664px;
}

#register ._auto {
  background: #fff;
  height: 634px;
  padding-bottom: 50px;
  border: 1px solid #a5c9b6;
  border-top: 0;
}

#register ._auto .r-login {
  height: 40px;
  font: 14px/40px "";
  text-align: right;
  padding-right: 30px;
}

#register ._auto .r-login a {
  color: red;
  text-decoration: underline;
}

#register .bottom {
  display: flex;
  justify-content: space-between;
}

#register .bottom .bottom-main p {
  margin-bottom: 29px;
  font: 14px/38px "";
}

#register .bottom .bottom-main p span {
  display: inline-block;
  width: 220px;
  padding-right: 20px;
  text-align: right;
}

#register .bottom .bottom-main p input {
  margin-right: 20px;
  border: 1px solid #c1c1c1;
  height: 38px;
  vertical-align: middle;
  padding-left: 14px;
  width: 290px;
  font: 14px/38px "";
}

#register .bottom .bottom-main p .txt-code {
  width: 147px;
}

#register .bottom .bottom-main p .tellcode {
  display: inline-block;
  width: 121px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  color: #008842;
  background: #f7f7f7;
  border: 1px solid #c1c1c1;
  margin-right: 20px;
}

#register .bottom .bottom-main p .randomNum {
  text-align: center;
  display: inline-block;
  width: 78px;
  height: 38px;
  border: 1px solid #c1c1c1;
  font: 700 16px/38px "";
}

#register .bottom .bottom-main p .check {
  width: 14px;
  height: 14px;
  margin-left: 240px;
  vertical-align: -2px;
}

#register .bottom .bottom-main p .green a {
  color: #008842;
}

#register .bottom .bottom-main p .btnGreen {
  background: #008842;
  width: 306px;
  display: inline-block;
  height: 50px;
  color: #fff;
  font: 18px/50px;
  text-align: center;
  margin-left: 240px;
}

#register .bottom .img {
  width: 400px;
  height: 450px;
  background: url(../imgs/register.png) no-repeat 50px 80px;
  border-left: 1px dashed #008842;
}
