



/* 购物车 */
.car{
    margin-top: 20px;
    h2{
        font-weight: normal;
        height: 38px;
        line-height: 38px;
        background-color:#fff ;
        background-image:url(../imgs/bg_cart.png) ;
        background-repeat:no-repeat ;
        background-position:0 0 ;
        border-bottom: 2px solid #05984d;
        position: relative;
    }
    .city{
        position: absolute;
        left: 230px;
        top: 4px;
        text-indent: 0;
    }
}