@charset "UTF-8";
/* 购物车 */
.car {
  margin-top: 20px;
}

.car h2 {
  font-weight: normal;
  height: 38px;
  line-height: 38px;
  background-color: #fff;
  background-image: url(../imgs/bg_cart.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  border-bottom: 2px solid #05984d;
  position: relative;
}

.car .city {
  height: 38px;
  width: 970px;
  position: absolute;
  left: 230px;
  top: 4px;
  text-indent: 0;
  font: 12px/30px "";
}

.car .city span {
  float: left;
}

.car .city a {
  float: right;
  color: #008842;
  text-decoration: underline;
  margin-right: 22px;
}

.car .car-alert {
  border: 1px solid #e3e6e0;
  border-top: 0;
  padding: 10px 20px;
  background: #fff;
}

.car .car-alert .car-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: 40px;
  font: 12px/40px "";
  padding-left: 20px;
}

.car .car-alert .car-table thead {
  background-color: #f1f1f1;
  border: 1px solid #ebebeb;
}

.car .car-alert .car-table thead .car-check {
  width: 50px;
  text-align: center;
}

.car .car-alert .car-table th {
  padding: 0 10px;
  color: #262626;
  text-align: center;
}

.car .car-alert .car-table th.car-info {
  width: 362px;
}

.car .car-alert .car-table th.car-price {
  width: 110px;
}

.car .car-alert .car-table th.car-num {
  width: 140px;
}

.car .car-alert .car-table th.car-tatal {
  width: 110px;
}

.car .car-alert .car-table th.car-spec {
  width: 110px;
}

.car .car-alert .car-table th.car-spec {
  width: 110px;
}

.car .car-alert .car-table tbody {
  border: 1px solid #ebebeb;
}

.car .car-alert .car-table tbody td {
  border-top: 1px solid #ebebeb;
  padding: 10px;
  text-align: center;
}

.car .car-alert .car-table tbody td img {
  width: 80px;
  height: 80px;
  border: 1px solid #ebebeb;
  position: relative;
}

.car .car-alert .car-table tbody td .quantity-form {
  display: flex;
  justify-content: space-around;
  width: 140px;
  height: 30px;
}

.car .car-alert .car-table tbody td .quantity-form .btn {
  width: 20px;
  height: 24px;
}

.car .car-alert .car-table tbody td .quantity-form .txt {
  width: 56px;
  height: 24px;
  text-align: center;
}

.car .car-alert .car-table .car-info {
  text-align: center;
}

.car .car-alert .car-table td.car-check {
  text-align: center;
  width: 32px;
}

.car .car-alert .car-footer {
  background-color: #f7f7f7;
  height: 40px;
  font: 12px/1;
  color: #666;
  margin-top: 20px;
  padding: 10px;
}

.car .car-alert .car-footer ._auto {
  width: 100%;
  position: relative;
}

.car .car-alert .car-footer ._auto .fr {
  position: absolute;
  right: 0;
  top: 0;
}

.car .car-alert .car-footer ._auto .fr span {
  margin-right: 20px;
}

.car .car-alert .car-footer ._auto .fr span em {
  color: #ff5317;
  font: 700 18px/40px "";
  margin: 0 5px;
}

.car .car-alert .car-footer ._auto .fr .count {
  font: 700 18px/20px "";
  background-color: #ff5317;
  color: #fff;
  padding: 10px 20px;
  display: inline-block;
}
